.unordered-list {
    list-style-type: disc;
    margin: 20px;
    padding: 0;
  }
  
  .unordered-list li {
    padding: 5px;
  }
  .icon-image{
    width:100px;
    height:100px;
    border-radius: 50px;
  }
  .list-comp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 10px
  }